table{
    /* border: 1px solid black; */
}
td{
    /* border: 1px solid black; */
    text-align: center;
}
.ys{
    background-color: rgb(235, 234, 235);
}
#出版社{
    width: 200px;
}
.sjfx{
    width: 130px;
}
.syqzz{
    width: 70px;
}
#xm{
    background-color: rgb(246, 119,45);
}
#qy{
    background-color: rgb(242, 163,43);
}
#zz{
    background-color: green;
}
#fx{
    background-color: aqua;
}
#syq{
    background-color: blue;
}
#sj{
    background-color: yellow;
}